<%
districts = [
    {"name" => "sumin.us",
     "platform" => {"name" => "Heroku", "link" => "http://heroku.com"},
     "language" => ["Ruby"],
     "capacity" => 105,
     "established" => Time.local(2011, 1, 13),
    },
    {"name" => "labs.sumin.us",
     "platform" => {"name" => "Google App Engine", "link" => "http://code.google.com/appengine"},
     "language" => ["Python"],
     "capacity" => 1024,
    },
    {"name" => "blog.sumin.us",
     "platform" => {"name" => "Debian Linux", "link" => "http://debian.org"},
     "language" => ["PHP"],
     "capacity" => 579,
     "established" => Time.local(2004, 8, 5),
    },
    {"name" => "hg.suminb.com",
     "platform" => {"name" => "Bitbucket", "link" => "http://bitbucket.org"},
    },
    {"name" => "git.sumin.us",
     "platform" => {"name" => "Github", "link" => "http://github.com"},
     "capacity" => 300,
    },
    {"name" => "gallery.sumin.us",
     "platform" => {"name" => "Debian Linux", "link" => "http://debian.org"},
     "language" => ["PHP"],
     "capacity" => 642,
    },
    {"name" => "mail.sumin.us",
     "platform" => {"name" => "Google Apps", "link" => "http://www.google.com/apps"},
     "language" => ["Unknown"],
     "capacity" => 7428,
    },
    {"name" => "storage.sumin.us",
     "platform" => {"name" => "Debian Linux", "link" => "http://debian.org"},
     "language" => ["HTTP"],
     "capacity" => 82832
    },
    {"name" => "maps.sumin.us",
     "platform" => {"name" => "Ubuntu Linux", "link" => "http://ubuntu.com"},
     "language" => ["Python", "JavaScript"],
     "capacity" => 7980134,
     "established" => Time.local(2009, 11, 1),
    },
]
%>
<h1>The Empire of Sumin Byeon</h1>

<% districts.each do |d| %>
    <h2><a href="http://<%=d['name']%>"><%=d["name"]%></a></h2>
    <ul>
        <li>Government: <a href="<%=d['platform']['link']%>"><%=d["platform"]["name"]%></a></li>
        <li>Official language(s): <%= d["language"] ? d["language"].join(", ") : "Unknown" %></li>
        <li>Area: <%= d["capacity"] ? d["capacity"] : "Unknown" %></li>
        <% if d["established"] %><li>Independence day: <%=d["established"].strftime("%B %d, %Y") %></li><% end %>
    </ul>
<% end %>